* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient( #568caf, rgb(170, 209, 93));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-in-container {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.log-in-form {
    max-width: 400px;
    width: 100%;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #34495e;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 11px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    font-size: 14px;
}

input[type="checkbox"]{
    margin-bottom: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
select:hover {
    outline: none;
    background-color: rgb(227, 234, 215);
    border-color: #ababab;
    transition: background-color 0.3s ease;
    
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    border-color: #519b81;
    box-shadow: 0 0 8px #519b81;
    transition: border-color 3s ease;
}

.form__button {
    width: 100%;
    padding: 12px;
    background-color: #598eb6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form__button:hover {
    background-color: #44ad9d;
    
}


.reg__link {
    display: block;
    text-align: center;
    padding: 8px 0;
    margin-top: 10px;
    width: 100px;
    text-decoration: none;
}

.signup{
    margin-top: 30px;
    color: #34495e;
}

.error {
    font-size: 15px;
    color: #212e62;
}