<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/image1.png">
    <link rel="stylesheet" href="static/create.css">
    <title>Crear producto | User</title>
</head>
<body>
    <header>
        <h2 class="subtitle">Cuéntanos sobre tu producto</h2>
    </header>

    <div class="create-product-container">
            {% block content %}
            <form action="{{ url_for('create2') }} " class="formulario-crear" method="POST" enctype="multipart/form-data">
                <label>Nombre del producto
                    <input type="text" name="name" id="name" placeholder="Ingresa el nombre del producto" required>
                </label>
                <label>Categoría
                    <select id="category" name="category" required>
                        <option value="">Selecciona qué tipo de producto es</option>
                        <option value="plastic">Plástico</option>
                        <option value="paper">Papel y cartón</option>
                        <option value="glass">Vidrio</option>
                        <option value="metal">Metales</option>
                        <option value="textils">Textiles</option>
                        <option value="wood">Madera</option>
                        <option value="batteries">Pilas</option>
                        <option value="tetra">Tetra Pak</option>
                        <option value="electronics">Residuos electrónicos</option>
                        <option value="other">Otro</option>

                    </select>
                </label>
                <label>Precio del producto
                    <input class="price-input" type="text" name="price" id="price" value="$" required>
                </label>
                <label>Divisa
                    <select id="currency" name="currency" required>
                        <option value="">Selecciona tu tipo de moneda</option>
                        <option value="peso">Peso mexicano</option>
                        <option value="dolar">Dólar estadounidense</option>
                        <option value="euro">Euro</option>
                    </select>
                </label>
                <label>Cantidad
                    <input type="number" name="quantity" id="quantity" placeholder="Ingresa cuántas unidades hay del producto">
                </label>
                <label>Subir fotos
                    <input type="file" id="file" name="file">
                </label>
                <label>Descripción y detalles adicionales
                    <textarea name="description" id="description" placeholder="Ingresa algunos detalles acerca del producto..." rows="5" ></textarea>
                </label>

                <button class="form__button">Crear producto</button>

            </form>
            {% endblock %}
    </div>
</body>
</html>