<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/compras.css">
    <link rel="icon" href="static/image1.png">
    <title>Compras | User</title>
</head>
<body>
    <header>
        <h1 class="title-menu">Markin</h1>
        <h2 class="subtitle">Tus productos</h2>
        <img class="profile-pic" src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png" alt="Profile Picture">
    </header>
    
</body>
</html>