<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/image1.png">
    <link rel="stylesheet" href="static/profiles.css">
    <title>Profile Space | User</title>
</head>
<body>
    <header>
        <h1 class="title-menu">Markin</h1>
        <h2 class="subtitle">Configuración de perfil</h2>
        <img class="profile-pic" src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png" alt="Profile Picture">
    </header>
    
    <div class="container-items">
        <div class="item">
            <a href="" class="text2">
            <figure>
                <img class="img-ct" src="https://cdn-icons-png.flaticon.com/512/3594/3594363.png" alt="Compras">
            </figure>
            <div class="info-product">
                <h2>Compras</h2>
            </div>
            </a>
        </div>
        <div class="item">
            <a href="/productos_venta" class="text2">
            <figure>
                <img class="img-ct" src="https://cdn-icons-png.flaticon.com/512/10963/10963565.png" alt="Productos en venta">
            </figure>
            <div class="info-product">
                <h2>Productos en venta</h2>
            </div>
            </a>
        </div>
        <div class="item">
            <a href="/saldo" class="text2">
            <figure>
                <img class="img-ct" src="https://cdn-icons-png.flaticon.com/512/10848/10848497.png" alt="Saldo">
            </figure>
            <div class="info-product">
                <h2>Saldo</h2>
            </div>
            </a>
        </div>
        <div class="item">
            <a href="" class="text2">
            <figure>
                <img class="img-ct" src="https://cdn-icons-png.flaticon.com/512/4577/4577278.png" alt="Ingresos">
            </figure>
            <div class="info-product">
                <h2>Ingresos</h2>
            </div>
            </a>
        </div>
        <div class="item">
            <a href="" class="text2">
            <figure>
                <img class="img-ct" src="https://cdn-icons-png.flaticon.com/512/3772/3772974.png" alt="Privacidad">
            </figure>
            <div class="info-product">
                <h2>Privacidad</h2>
            </div>
            </a>
        </div>
    </div>
</body>
</html>
